/*---------------------------------
	Flexbox
---------------------------------*/
main{
	display: flex;
	article{
		flex:2;
	}
	aside{
		flex:1;
	}
}
ul.hero{
	display: flex;
	width: 100%;
	height: 200px;
	margin: 0;
	padding: 0;
	background-color: grey;
	flex-direction: column;
	justify-content: center;
	align-items:flex-end;
	li{
		width: 100px;
		height: 100px;
		background-color: green;
		border-radius: 20px;
		color:white;
		text-align: center;
		list-style: none;
		&:nth-child(2){
			align-self:stretch;
			height: auto;
		}
	}
}









/*---------------------------------
	Global Styles 
----------------------------------*/