@import "reset", "extras";

$var:#87CEFA;
html{
	background-color: #303030;
}
body{
	background-color: #eaeaea;
	font-family: 'Roboto', sans-serif;
	font-size: 100%;
}
header{
	background-color: $var;
	overflow: hidden;
	img{
		width:250px;
		margin:10px auto;
		padding: 10px;
		display: block;
		background-color: white;
		border-radius: 3px;
	}
	ul{
		
	}
	li{
		display: inline-block;
		width: 25%;
		float: left;
		text-align: center;
		padding: 20px 10px;
	}
	a{
		text-decoration: none;
		color:darken($var,20%);
		transition: color 500ms ease-in-out;

		&:hover{
			color: darken($var,40%);
		}		
	}
}
#hero{
	height: 200px;
	background-image: url(../img/sky.jpg);
	background-size: cover;
	background-attachment: fixed;
}
main{
	height: 600px;
	position: relative;
	img{
		width:25%;
		border-radius: 50%;
		border: 10px solid grey;
		box-shadow: 0 0 0 2px #888;
		position: absolute;
		left: 15%;
		transition: left 500ms ease-in-out;
		z-index: 1;
		&:hover{
			left:5%;
			border-width: 20px;
			box-shadow: 0 0 20px 5px #888;
			z-index: 1;
		}
	}
	article{
		width:75%;
		float: right;
		background-color: white;
		padding: 0 30px;
		position: relative;
		margin-bottom: 40px;
		&:before{
			content:" ";
			display: block;
			width: 100%;
			height: 100px;
			background-color: white;
			position: absolute;
			top:-100px;
			left: 0;
			background-image: url(../img/mail.png);
			background-repeat: repeat-x;

		}
	}
	h1{
		font-size: 40px;
		margin-bottom: 20px;
		text-align: left;
		transition: font-size 150ms ease-out;
		&:hover{
			font-size: 70px;
		}
	}
	p{
		font-size: 20px;
		margin-bottom: 10px;
	}
	h2{
		font-family: 'Cookie', cursive;

		font-size: 30px;
		text-align: right;
	}
	h2:before{
		content: "-";
	}
}
footer{
	background-color: #303030;
	padding: 40px 0;
	color: white;
}

$myfont:garamond, "Times New Roman", serif;
$fontsize:18px;
$bgcolor:hsla(75, 50%, 50%, 1);
$bgcomp: complement($bgcolor);
.button-style{
	font-size: $fontsize;
	font-family: $myfont;
	line-height: $fontsize*2;
	border: 1px solid superdark(red, 20%);
}
@mixin border-radius($radius){
	border-radius: $radius;
}
@function superdark($color, $perc){
	$dark: darken($color, $perc);
	@return $dark;
}
a{
	@extend .button-style;
	display: block;
	width: 100px;	
	background-color: $bgcolor;
	color: white;
	text-decoration: none;	
	text-align: center;
	//border-radius: 5px;
	@include border-radius(20px);	
	text-shadow: 1px 1px 2px $bgcomp;
}
li{
	@extend .button-style;
}
